{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
<!------ Bootsrap ---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- Customized Cascading Style Sheet -->
<link rel="stylesheet" type="text/css" href="{% static 'css_files/index.css' %}">
<!-- Customized Cascading Style Sheet -->
</head>
<style>
    
</style>
<body>
    <div class="container">
        <section name="login_form">
            <div class="wrapper fadeInDown">
                <div id="formContent">
                  <!-- Tabs Titles -->
              
                  <!-- Icon -->
                  <div class="fadeIn first">
                    <h3 class="p-2">Tools and Equipment Inventory</h3>
                    <img src="{% static 'images/school_logo.jpg' %}" class="rounded" id="icon" alt="User Icon" height="100px"/>
                  </div>
              
                  <!-- Login Form -->
                  <form>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
                    <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                  </form>
              
                  <!-- Remind Passowrd -->
                  <div id="formFooter">
                    <a class="underlineHover" href="#">Forgot Password?</a>
                  </div>
              
                </div>
              </div>
        </section>
    </div>
</body>
</html>